.me {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: black;
}

.mainContainer {
    margin: 80px 90px 0px 100px;
    display: flex;
    flex-direction: column;
    font-family: 'Betatron-Regular';
}

.mainContainer .firstName {
    font-size: 162px;
    line-height: 162px;
    overflow: hidden;
    height: 162px;
    margin-bottom: 20px;
}

.firstName p {
    transform: translateY(0);
    transition: all 3s;
}



.firstName:hover p {
    /*animation: translateY 3s linear;*/
    transform: translateY(-175px);
    transition: all 3s;
}

.firstName:hover ~ .lastName p {
    /*animation: translateY 3s linear;*/
    transform: translateY(-175px);
    transition: all 3s;
}

/*@keyframes translateY {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-185px);
    }
}*/

.mainContainer .lastName {
    font-size: 162px;
    line-height: 162px;
    height: 162px;
    overflow: hidden;
}

.lastName p {
    transform: translateY(0);
    transition: all 3s;
}


@supports((text-stroke: 3px #00000030) or (-webkit-text-stroke: 3px #00000030)) {
    .mainContainer .lastName {
        color: transparent;
        -webkit-text-stroke: 3px #fff;
        text-stroke: 3px #fff;
        text-shadow: none;
    }
  }

.spin {
    /*margin-left: 600px;*/
    align-self: flex-end;
    animation: spin 7s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}